html, body {
    min-height: 100%;
    background-color: white;
}

h1, h2, h3 {
   text-align: center;
   margin-bottom: 0%;
   padding-bottom: 0%;
   margin-top: 1%;
   padding-top: 2%;
}

h1 {
   font-size: 300%;
}

h2 {
   font-size: 250%;
}

.text {
   padding: 2%;
   font-size: 18px;
   max-width: 100%; 
   max-height: 100%;
}

.suggestion-box, .title-area, .login-box, .social-box, .social-login-background {
   margin: auto;
   position: absolute;
   font-family: Rockwell Extra Bold,Rockwell Bold,monospace; 
   font-size: medium;
   top: 0px;
   width: 480px;
   height: 360px;
}

.title-area {
   width: 960px;
   left: 480px; 
   font-size: large;
   background-color: #e0e0e0;
}

.social-login-background, .suggestion-box {
    background:
    linear-gradient(135deg, #e0e0e0 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #e0e0e0 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #e0e0e0 25%, transparent 25%),
    linear-gradient(45deg, #e0e0e0 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #9ae1fc;
}

.social-login-background {
    left: 1440px;
}

.suggestion-box {
   left: 0px;
}

.social-login-background, .social-box, .login-box{
    left: 1440px;
}
.login-box {
   height: 190px;
}

.social-box {
   height: 180px;
   top: 180px; 
}

.social-logo {
   position: relative;
   top: 50%;
   left: 5%;
   width: 22.5%;
   margin-inline: 3%;
   transform: translate(0, -80%);
}

#project1-box, #project2-box, #project3-box, #project4-box {
   position: absolute;
   font-family: Rockwell Extra Bold,Rockwell Bold,monospace; 
   font-size: medium;
   top: 360px;
   width: 490px;
   height: 577px;
   text-align: left;
   background: radial-gradient(circle at left top, #9ae1fc , #e0e0e0);
}

#project1-box {
   left:0px;
}

#project2-box {
   left:480px;
}

#project3-box {
   left:960px;
}

#project4-box {
   left:1440px;
   width:480px;
}

#project1-logo, #project2-logo, #project3-logo, #project4-logo {
   position: relative;
   transform: translate(0, 50%);
   width: 50%;
}

#project1-logo {
   left: 24.5%;
}

#project1-lid, #project2-lid , #project3-lid, #project4-lid{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   pointer-events: none;
   -webkit-backdrop-filter: blur(12px);
   backdrop-filter: blur(12px);
}

#project1-lid-text, #project2-lid-text, #project3-lid-text, #project4-lid-text{
   position: relative;
   margin-block: 50%;
   font-size: 750%;
   transform: rotate(-90deg);
   font-style: italic;
   text-align: center;
   color: #e0e0e0;
   text-shadow: 1.25px 0 0 #000, 0 -1.25px 0 #000, 0 1.25px 0 #000, -1.25px 0 0 #000;
}

#project1-lid-text, #project2-lid-text,#project3-lid-text, #project4-lid-text {
   transition: opacity 0.25s;
}

#project1-box:hover #project1-lid, 
#project2-box:hover #project2-lid, 
#project3-box:hover #project3-lid, 
#project4-box:hover #project4-lid{
   backdrop-filter: blur(0);
}

#project1-box:hover #project1-lid-text, 
#project2-box:hover #project2-lid-text, 
#project3-box:hover #project3-lid-text, 
#project4-box:hover #project4-lid-text{
   opacity: 0;
}

.login-form-container{
    position: relative;
    margin-left: 30%;
    margin-right: 0px;
    margin-top: 3%;
}

.login-form-field, .comment-input-field{
    margin-bottom: 3%;
    width: 84.65%;
    height: 30px;
    font-size: x-large;
}

.login-title{
    position: absolute;
    transform: rotate(-90deg) translate(10%, -145%);
    text-align: left;
    font-style: italic;
    margin-inline: 20%;
    font-size: 300%;
}

input[type=text], input[type=password]{
    padding-inline: 5px;
    border: 2.5px solid rgb(156, 156, 156);
    transition: border 0.2s;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2.5px solid #555;
    outline: none;
}

#login-error-msg {
    margin: 3px;
}

#invalid-login-box{
    border: black solid 1px;
    font-size: medium;
    margin-right: 11%;
    background-color: #e0e0e0;
    margin-bottom: 6px;
    display: none; /*display: block;*/
}

#login-form-register, #login-form-submit, #register-form-register, #comment-submit{
    width: 43.25%;
    height: 30px;
    font-size: large;
    background-color: #e0e0e0;
    cursor: pointer;
}

#register-box-blur {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 937px;
    backdrop-filter: blur(10px);
    pointer-events:all;
    display: none; /*display: block;*/
}

#register-box{
    position: absolute;
    padding-inline: 20px;
    top: 470px;
    left: 960px;
    outline: 1px solid black;
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace; 
    background-color: #e0e0e0;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 500px;
    display: none; /*display: block;*/
}

.register-box-contents{
    margin: 3%;
}

.register-form-field {
    margin-bottom: 5%;
    width: 95%;
    height: 30px;
    font-size: x-large;
}

#register-form-register{
transform: translate(50%, 50%);
    width: 50%;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
  }

[type=radio]:checked + img {
    outline: 2px solid black;
}

.profile-img-pick{
    margin: 1.5%;
    width: 11.75%;
}

#close-window{
    position: absolute;
    top: 1%;
    right: 1%;
    margin: 0;
    width: 5.75%;
    height: 5%;
    font-size: large;
    cursor: pointer;
}

#comment-area{
    display: block;
    position: absolute;
    background-color: white;
    outline: 1px solid black;
    width: 440px;
    height: 200px;
}

.comment-input-field{
    position: absolute;
    font-size: medium;
    top: 210px;
    width: 390px;
    height: 70px;
    text-align: left;
    resize: none;
}

.comment-container{
    position: absolute;
    left: 20px;
    width: 440px;
    top: 60px;
}

#comment-submit{
    position: absolute;
    top: 210px;
    width: 75px;
    height: 40px;
    transform: rotate(-90deg) translate(-18px,383px);
}